/* FONTS */
@import '../fonts/stylesheet.css';

@main_color: #F5CD79;
@dark_color: #393939;
@light_color: #F9F9F9;
@white_color: #ffffff;
@green_color: #2DB53F;

.font_Segoe {
    font-family: 'Segoe UI';
    font-weight: 200;
}

.font_Sitka {
    font-family: 'Sitka Banner', sans-serif;
    font-weight: 700;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

h4 {
    .font_Sitka;
    padding: 15px 0;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.input_title {
    .font_Sitka;
}

.title {
    margin: 5px 0;
}

input[type="button"] {
    .font_Sitka;
    background-color: @main_color;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
}

.section {
    button {
        .font_Sitka;
        background-color: @main_color;
        padding: 5px 20px;
        border: none;
        font-size: 17px;
        transition: 0.3s;

        &:hover {
            background-color: @dark_color;
            color: @main_color;
        }
    }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid @main_color;
    background-color: transparent;
    text-align: left;
    color: @dark_color;
    padding: 5px 10px;
    .font_Sitka;
}

label {
    .font_Sitka;
    font-size: 17px;
    margin: 0 5px;
    font-weight: 800;
}

.gray {
    background-color: @light_color;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.alert-active{
    left: 10px !important;
}

.alert-wrapper{
    background-color: currentColor;
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    left: -100%;
    z-index: 1000;
    transition: 0.3s;
    i{
        color: @green_color;
        margin-right: 10px;
    }
    p{
        color: @light_color;
        margin: 0;
    }
}

.active_onclick_dark {
    background-color: @dark_color !important;
    border-radius: 5px;

    input {
        color: @light_color !important;
    }
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px @main_color;
    border-radius: 7px;
    background-color: @light_color;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px @dark_color;
    background-color: #555;
}

.shadow {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.item-stars {
    padding: 5px 0 10px 0;
    font-size: calc(0.3vw + 7px);

    i {
        color: @main_color;
    }
}

.shop-stars {
    font-size: calc(0.3vw + 9px);
    line-height: 0;

    i {
        color: @main_color;
    }

    span {
        &:last-child {
            font-size: calc(0.4vw + 11px);
            margin-left: 5px;
        }
    }
}

.item-wrapper {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 15px;

    .image {
        position: relative;
        width: 100%;

        img {
            width: inherit;
        }

        .image-items {
            bottom: 5px;
            right: 5px;
            position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            cursor: pointer;

            span {
                position: absolute;
                padding: 5px 10px;
                background-color: @dark_color;
                margin-right: 1px;
                transition: 0.3s;
                opacity: 0.9;
                color: @light_color;
                .font_Sitka;
                cursor: pointer;
                font-weight: 100;
                font-size: calc(0.2vw + 11px);
            }

            i {
                color: @main_color
            }

        }
    }

    .item-info {
        padding: 0 10px;
        position: relative;

        h5 {
            .font_Sitka;
            padding-top: 10px;
            font-size: calc(0.4vw + 12px);
            cursor: pointer;
        }

        p {
            .font_Sitka;
            margin: 0;
            font-size: calc(0.4vw + 11px);

            .old-price {
                color: @green_color;
                margin-left: 15px;
                text-decoration: line-through;
            }

            span:first-child {
                margin-right: 5px;
            }
        }

        h6 {
            .font_Segoe;
            font-size: calc(0.4vw + 10px);
            cursor: pointer;
        }

        .item-shipping-type {
            position: absolute;
            bottom: 10px;
            right: 0;

            p {
                .font_Segoe;
                padding: 3px 12px;
                background-color: @dark_color;
                color: @light_color;
                font-size: 14px;

            }
        }
    }
}

.fa-angle-down {
    position: absolute;
    right: 20px;
    top: 25%;
}

.fa-angle-up {
    position: absolute;
    right: 20px;
    top: 25%;
}

.dark-dropdown {
    margin-top: 10px;

    .dropbtn {
        background-color: @dark_color;
        border: none;
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        color: @light_color;
        position: relative;
        display: inline-block;
        .font_Sitka;
    }

    .dropdown-content {
        position: absolute;
        background-color: @light_color;
        min-width: 100%;
        z-index: 1;
        max-height: 300px;
        overflow: auto;
        display: none;

        span {
            color: @dark_color;
            padding: 5px 20px;
            border: 0.5px solid @main_color;
            border-top: none;
            text-decoration: none;
            cursor: pointer;
            display: block;
            .font_Sitka;

            &:hover {
                background-color: @main_color;
                color: @dark_color;
            }
        }
    }
}

.light_dropdown {
    margin-top: 10px;

    .dropbtn {
        background-color: @white_color;
        border: 1px solid @main_color;
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        color: @dark_color;
        position: relative;
        display: inline-block;
        .font_Sitka;
    }

    .dropdown-content {
        position: absolute;
        background-color: @light_color;
        min-width: 100%;
        z-index: 1;
        max-height: 300px;
        overflow: auto;
        display: none;

        span {
            color: @dark_color;
            padding: 5px 20px;
            border: 0.5px solid @main_color;
            border-top: none;
            text-decoration: none;
            cursor: pointer;
            display: block;
            .font_Sitka;

            &:hover {
                background-color: @main_color;
                color: @dark_color;
            }
        }
    }
}

.search-input {
    border-radius: 50px;
    border: none;
    .font_Segoe;
    padding: 5px 15px;
    border: none !important;
    padding: 5px 15px !important;
    font-size: calc(0.3vw + 10px);
}

.sign-in-wrapper{
    opacity: 0;
}

.sign-up-wrapper{
    opacity: 0;
}

.account-popup{
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: @dark_color;
        top: 0;
        left: 0;
        z-index: 99;
        opacity: 0.9;
    }
    .signin-container{
        background-color: @light_color;
        border: 2px solid @main_color;
        position: fixed;
        z-index: 100;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        p{
            .font_Sitka;
            font-size: calc(0.6vw + 20px);
            padding: 10px 0;
        }
        .login-form{
            width: 100%;
            .remember-me{
                padding: 10px 0;
                width: 100%;
                align-items: center;
                display: flex;
                a{
                    font-weight: 100 !important;
                    .font_Sitka;
                    text-align: right;
                    color: @dark_color;
                    position: absolute;
                    right: 20px;
                    text-decoration: none;
                }
                label{
                    font-weight: 100 !important;
                }
            }
            .input-style{
                label{
                    font-weight: 100 !important;
                }
                input{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            input[type="button"]{
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
            }
            .signIn-btn{
                background-color: @dark_color;
                color: @light_color;
                text-transform: uppercase;
                transition: 0.3s;
                font-size: calc(0.3vw + 12px);
                &:hover{
                    background-color: @main_color;
                    color: @dark_color;
                }
            }
            .internal-signIn-btn{
                text-transform: uppercase;
                border: 1px solid @main_color;
                background-color: @light_color;
                transition: 0.3s;
                font-size: calc(0.3vw + 12px);
                &:hover{
                    background-color: @dark_color;
                    color: @main_color;
                }
            }
        }
    }
}

.block{
    display: block !important;
}

.notification-container{
    position: relative;
    .notification-wrapper{
        display: none;
        position: absolute;
        bottom: -7px;
        right: 0;
        transform: translateY(100%);
        border: 2px solid @main_color;
        background-color: @light_color;
        padding: 10px 15px;
        width: 350px;
    }
    p{
        border-bottom: 1px solid @dark_color;
        padding: 5px 0;
        font-size: calc(0.3vw + 10px);
    }
}

.user-profile-window{
    position: relative;
    .user-profile-container{
        display: none;
        position: absolute;
        bottom: -7px;
        right: 0;
        transform: translateY(100%);
        border: 2px solid @main_color;
        background-color: @light_color;
        padding: 10px 15px;
        width: 210px;
        .user-profile{
            display: flex;
            align-items: center;
            width: max-content;
            .user-profile-image-wrapper{
                width: 45px;
                height: 45px;
                overflow: hidden;
                position: relative;
                border-radius: 50%;
                margin-right: 10px;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 60px;
                    height: auto;
                    transform: translate(-50%,-50%);
                }
            }
            .profile-info{
                h4{
                    font-size: calc(0.3vw + 11px);
                    color: @dark_color;
                    padding: 0;
                }
                a{
                    width: 100%;
                    margin: 0 auto;
                    color: @main_color;
                    text-align: left;
                    font-size: calc(0.3vw + 10px);
                    .font_Sitka            
                }
            }
        }
        .user-profile-setting-wrapper{
            a{
                color: @dark_color;
                display: block;
                margin: 0;
                padding: 2px 0;
                .font_Sitka;
                font-size: calc(0.4vw + 10px);
                display: flex;
                align-items: center;
                text-align: left;
                &:hover{
                    color: @dark_color;
                }
                i{
                    color: @dark_color;
                    margin-right: 10px;
                }
            }
        }
        hr{
            background-color: @main_color;
        }
     }
}

.top-content {
    background-color: @dark_color;
    height: 45px;
    display: flex;
    align-items: center;
    #user{
        position: relative;
    }
    .container {
        display: flex;

        a {
            color: @white_color;
            .font_Segoe;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: @white_color;
            }
        }

        .icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            z-index: 10;

            i {
                color: @light_color;
                font-size: 17px;
            }

            span {
                margin: 0 !important;
            }

            .icon-count {
                position: relative;

                span {
                    &:first-child {
                        width: calc(0.3vw + 13px);
                        height: calc(0.3vw + 13px);
                        top: -5px;
                        left: 50%;
                        position: absolute;
                        display: flex;
                        text-align: center;
                        font-size: calc(0.2vw + 8px);
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        background-color: #F5CD79;
                        color: #393939;
                        font-weight: 900 !important;
                        .font_Segoe;
                    }
                }
            }
        }

        .unauthorized {
            span {
                &:first-child {
                    margin: 0 10px !important;
                }
            }
        }

        span {
            color: @white_color;
            margin: 0 5px;
        }

    }

    .iner_content {
        position: relative;

        .search-box {
            width: 100%;

            .search {
                position: relative;
                line-height: 0;
                z-index: 1;
                width: fit-content;
            }
        }

        .search-item {
            position: absolute;
            border: none;
            height: 100%;
            border-radius: 25px;
            padding: 0 7px;
            font-size: 14px;
        }

    }
}

.mobile-search {
    width: 100%;
    position: relative;

    .search {
        position: relative;
        line-height: 0;
        z-index: 1;

        input {
            border-radius: 50px;
            border: none;
            .font_Segoe;
            padding: 5px 15px;
            width: calc(100% - 75px);
            font-size: calc(0.3vw + 10px);
            transition: 0.3s;
            margin-left: 35px;
        }

        .search-item {
            background-color: @main_color;
            left: 0;

            i {
                color: @dark_color;
            }
        }
    }
}

.currency_dropdown {
    margin-top: 10px;

    .dropbtn {
        background-color: transparent;
        border: 1px solid @main_color;
        text-align: left;
        padding: 2px 5px;
        color: @dark_color;
        position: relative;
        display: inline-block;
        width: calc(3vw + 30px);
        .font_Sitka;
    }

    .dropdown-content {
        position: absolute;
        background-color: @light_color;
        z-index: 1;
        overflow: auto;
        display: none;

        span {
            color: @dark_color;
            padding: 5px 20px;
            border-top: none;
            text-decoration: none;
            cursor: pointer;
            display: block;
            .font_Sitka;

            &:hover {
                background-color: @main_color;
                color: @dark_color;
            }
        }
    }
}

.header {
    background-color: @light_color;
    padding: 10px 0;
    position: relative;

    .iner_header {
        position: relative;
        display: flex;
        align-items: center;

        .logo {
            display: inline-flex;
            align-items: center;

            img {
                width: calc(1vw + 23px);
                margin-right: 20px
            }

            h1 {
                .font_Sitka;
                font-weight: 700;
                letter-spacing: calc(0.5vw + 2px);
                text-transform: uppercase;
                font-size: calc(0.5vw + 17px);
                line-height: 0;
                margin-top: 3px;

                a {
                    color: @dark_color;
                    text-decoration: none;
                }
            }
        }

        .categories {
            position: absolute;
            right: 0;
            .burger{
                background-color: transparent;
                border: none;
                margin-right: 15px;
                i{
                    font-size: 22px;
                    color: @dark_color;
                }
            }
            ul {
                width: 100%;
                margin: 0;
                display: flex;
                text-align: center;
                li {
                    display: inline-block;
                    .font_Sitka;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    line-height: 1;
                    cursor: pointer;
                    padding-right: calc(0.8vw + 9px);
                    a{
                        font-size: calc(0.4vw + 7px);
                        color: @dark_color;
                    }
                }
            }
        }
    }
    .drop-menu-contaner {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 100%;
        display: none;
        z-index: 10;
    
    #menu {
        border-top: 1.5px solid @main_color;
        background-color: @light_color;
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.11);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.11);
    }
    
    .main-menu {
        aside {
            padding: 0;
            background-color: @white_color;
    
            .popup-categoria-title {
                padding: 5px 20px;
                background-color: @main_color;
                .font_Sitka;
                color: @dark_color;
                text-transform: uppercase;
            }
        }
    
        section {
            padding: 10px;
            display: none;
    
            .drop-menu-second-filter {
    
                .chackbox {
                    padding-top: 5px;
                    display: inline-flex;
                    width: 100%;
                    align-items: center;
                    .font_Sitka;
    
                    input {
                        margin-right: 10px;
                    }
    
                    label {
                        display: inline;
                        margin: 0;
                        cursor: pointer;
                    }
                }
    
                input[type="button"] {
                    text-align: right;
                }
            }
    
            .drop-menu-item-filter {
                width: 100%;
    
                .material {
                    margin-top: 10px;
    
                    .material-name {
                        margin: 3px 2px;
                        display: inline-flex;
    
                        input {
                            background-color: transparent;
                            border: 1px solid @dark_color;
                            padding: 1px 10px;
                            font-size: 13px;
                        }
                    }
                }
    
                .price {
                    margin-top: 10px;
    
                    .material_price {
                        display: inline-flex;
    
                        input {
                            width: calc(3vw + 20px);
                            padding: 2px 5px;
                            .font_Sitka;
                        }
                    }
    
                    .currency_dropdown {
                        margin: 0;
                        display: inline-flex;
    
                        .dropbtn {
                            font-size: 16px;
    
                            i {
                                right: 10px;
                            }
                        }
                    }
                }
    
                .drop-menu-search-brn {
                    margin-top: 10px;
    
                    input {
                        width: 100%;
                        transition: 0.3s;
                        font-size: 18px;
    
                        &:hover {
                            background-color: @main_color;
                        }
                    }
                }
            }
        }
    
        ul {
            margin-bottom: 10px;
    
            li {
                list-style-type: none;
                text-align: left;
                padding: 5px 25px;
                position: relative;
                transition: ease-in-out 0.1s;
                cursor: pointer;
    
                &:hover {
                    background-color: @dark_color;
    
                    a {
                        color: @light_color;
                    }
    
                    .fa-chevron-right {
                        right: 10px;
                        display: block;
                        color: @light_color;
                    }
                }
    
                a {
                    text-decoration: none;
                    color: @dark_color;
                    .font_Sitka;
                    font-size: 17px;
                }
    
                .fa-chevron-right {
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    display: none;
                }
            }
        }
    }
    }
}

.active-map{
    height: 0px !important;
}

.map-container{
    .map{
        transition: 0.3s;
        width: 100%;
        height: 400px;
    }
    .map-button{
        position: relative;
        button {
            top: 20px;
            left: 0;
            position: absolute;
            .font_Sitka;
            background-color: @main_color;
            padding: 5px 20px;
            border: none;
            font-size: 17px;
            transition: 0.3s;
    
            &:hover {
                background-color: @dark_color;
                color: @main_color;
            }
        }
    }
}

.menu-active{
    left: 0 !important;
}

.burger-menu-wrapper{
    .mobile-drop-menu-contaner{
        background-color: @dark_color;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: 0.3s;
        z-index: 10;
        .burger-categoria-name-wrapper{
            color: @dark_color;
            background-color: @light_color;
            padding: 10px 15px;
            .font_Sitka;
            font-size: calc(0.3vw + 9px);
            letter-spacing: 2px;
            text-transform: uppercase;
            .back{
                position: absolute;
                right: 20px;
                cursor: pointer;
            }
        }
        .close-burger{
            background-color: transparent;
            position: absolute;
            right: 0;
            bottom: 65px;
            z-index: 100;
            border: none;
            margin-right: 15px;
            i{
                font-size: 22px;
                color: @main_color;
            }
        }
        .burger-search-1{
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            text-align: left;
            padding: 0 20px;
            transition: 0.3s;
            .search-type-tytle{
                text-align: left;
                color:@main_color;
                .font_Sitka;
                font-size: calc(0.5vw + 14px);
                padding: 10px 0;
            }
            ul{
                list-style: none;
                li{
                    padding: 10px 0;
                    position: relative;
                    a{
                        text-decoration: none;
                        color: @light_color;
                        .font_Sitka;
                        font-size:  calc(0.5vw + 13px);
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 20px;
                        bottom: 10px;
                        left: 0px;
                        height: 2px;
                        background-color: @main_color;
                    }
                }
            }
            .check-search-type{
                display: flex;
                position: relative;
                div{
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    label{
                        color: @light_color;
                        font-size: 14px;
                    }
                    &:first-child{
                        margin-right: 15px;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background-color: @main_color;
                }
            }
        }
        .burger-search-2{
            position: absolute;
            top: 50px;
            background-color: @dark_color;
            left: -100%;
            width: 100%;
            padding: 0 15px;
            transition: 0.3s;
            label{
                color: @light_color;
                margin-bottom: 5px;
                font-size: 14px;
            }
            .dark-dropdown {
                .dropbtn{
                    background-color: @main_color;
                    color: @dark_color;
                    span{
                        font-size: 14px;
                    }
                }
            }
            .chackbox{
                margin-top: 10px;
            }
            .next-wrapper{
                color: @light_color;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 15px;
                button{
                    .font_Sitka;
                    background-color: @light_color;
                    padding: 5px 20px;
                    border: none;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    &:first-child{
                        margin-right: 10px;
                    }
                    i{
                        margin-left: 10px;
                    }
                }
            }

        }
        .burger-search-3{
            position: absolute;
            top: 50px;
            left: -100%;
            width: 100%;
            padding: 0 15px;
            transition: 0.3s;
            background-color: @dark_color;
            .drop-menu-item-filter {
                width: 100%;
    
                .material {
                    margin-top: 10px;
                    label{
                        color: @light_color;
                        font-size: 14px;
                    }
                    .material-name {
                        margin: 3px 2px;
                        display: inline-flex;
                        background-color: @main_color;

                        input {
                            background-color: transparent;
                            border: 1px solid @main_color;
                            padding: 1px 10px;
                            font-size: 13px;
                            color: @dark_color;
                        }
                    }
                }
    
                .price {
                    margin-top: 10px;
                    label{
                        color: @light_color;
                        font-size: 14px;
                    }
                    .material_price {
                        display: inline-flex;
                        span{
                            color: @light_color;
                        }
                        input {
                            background-color: transparent;
                            border: 1px solid @main_color;
                            text-align: left;
                            padding: 5px 10px;
                            color: @main_color;
                            width: 80px;
                            .font_Sitka;
                            font-size: 14px;
                        }
                    }
    
                    .currency_dropdown {
                        margin: 0;
                        display: inline-flex;
    
                        .dropbtn {
                            font-size: 14px;
                            padding: 3px 5px;
                            background-color: @light_color;
                            color: @dark_color;
                            i {
                                right: 10px;
                            }
                        }
                    }
                }
    
                .drop-menu-search-brn {
                    margin-top: 10px;
    
                    input {
                        width: 100%;
                        transition: 0.3s;
                        font-size: 14px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.burger-section-show{
    left: 0 !important;
}

.burger-section-hide{
    left: -100% !important;
}

.center-btn {
    text-align: center;
    margin-top: 30px;

    button {
        padding: 5px 80px;
    }
}

.bottom-filter {
    background-color: @dark_color;
    padding: 15px 0;

    .light_dropdown {
        margin: 0;
        font-size: calc(0.6vw + 5px);

        button {
            border: none;
        }

        label {
            color: @light_color;
            font-size: calc(0.5vw + 7px);
        }
    }
}

.section {
    padding: 60px 0;

    .section-wrapper {
        .section-title h1 {
            .font_Sitka;
            text-transform: uppercase;
            letter-spacing: calc(0.8vw + 0.5px);
            font-weight: 100;
            font-size: 30px;
            position: relative;
            z-index: 1;
            padding-left: 25px;

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                background-color: @main_color;
                opacity: 0.6;
                width: 90px;
                height: 30px;
                z-index: -1;
            }
        }

        .video-wrapper video {
            width: inherit;
        }

        .about-us-wrapper {
            padding: 10px;
            position: relative;
            height: 100%;
        }

        .btn-right {
            bottom: 10px;
            right: 10px;
            margin-top: 30px;

            button {
                padding: 5px 80px;
            }
        }
    }
}

.shop-wrapper {
    .shop-cover-img {
        overflow: hidden;

        img {
            transition: 0.3s;
            width: 100%;
            height: auto;
            position: relative;
            cursor: pointer;
        }
    }

    .shop-info-body {
        padding: 15px;
        display: flex;
        align-items: center;
        position: relative;

        .shop-avatar-wrapper {
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            border: 1px solid @main_color;
            cursor: pointer;

            .shop-avatar-img {
                background-image: url(../assets/Images/shops/shop-logo.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }

        .shop-info {
            margin-left: 20px;
            .font_Sitka;

            h1 {
                cursor: pointer;
                font-weight: 100;
                display: inline;
                font-size: calc(0.4vw + 16px);
            }

            .like {
                position: absolute;
                right: 15px;
                top: 50%;
                cursor: pointer;
                transform: translateY(-50%);

                i {
                    font-size: 25px;
                    color: @main_color;
                }
            }
        }
    }

    &:hover {
        .shop-cover-img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.footer {
    .footer-title h1 {
        .font_Sitka;
        text-transform: uppercase;
        letter-spacing: calc(0.8vw + 0.5px);
        font-weight: 100;
        font-size: 30px;
        position: relative;
        z-index: 1;
        padding-left: 25px;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            background-color: @main_color;
            opacity: 0.6;
            width: 90px;
            height: 30px;
            z-index: -1;
        }
    }

    .footer-top-wrapper {
        background-color: @dark_color;
        padding: 40px 0;
        color: @white_color;

        p {
            .font_Sitka;
            font-size: 22px;
            text-transform: capitalize;
            margin-bottom: 10px;
            color: @main_color;
        }

        .social-media-wrapper {
            .social-media-icons {
                display: inline-flex;

                a {
                    text-decoration: none;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        width: calc(1vw + 25px);
                        height: calc(1vw + 25px);
                        margin-left: 15px;
                        background-color: @white_color;
                        border-radius: 50%;
                        color: @dark_color;
                        font-size: calc(0.3vw + 12px);
                        transition: 0.3s;
                    }

                    &:first-child {
                        i {
                            margin-left: 0;
                        }
                    }

                    &:hover {
                        i {
                            background-color: @main_color;
                        }
                    }
                }
            }
        }

        ul {
            display: inline-block;

            li {
                position: relative;
                list-style: none;
                .font_Segoe;
                padding: 5px 0;
                font-size: calc(0.4vw + 12px);
                cursor: pointer;
                transition: 0.3s;
                width: max-content;

                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    background-color: @main_color;
                    transition: 0.3s;
                }

                &:hover {
                    margin-left: 15px;

                    &::after {
                        width: 30px;
                    }
                }
            }
        }
    }

    .footer-bottom-wrapper {
        background-color: @main_color;
        padding: 15px 0;

        .fotter-bottom-body {
            display: flex;
            font-size: calc(0.4vw + 10px);

            div {
                &:first-child {
                    .font_Sitka;
                }
            }

            div {
                position: relative;

                &:last-child {
                    position: absolute;
                    right: 0;
                    .font_Sitka
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .search-box {
        .search {
            input {
                width: calc(20vw + 100px);
                background-color: @light_color;
            }

            button {
                background-color: transparent;
                width: 50px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                padding: 0;
                transition: 0.3s;

                &:hover {
                    background-color: @main_color;
                    width: 60px;
                }

                i {
                    color: @dark_color;
                }
            }
        }
    }
    .icon a{
        margin: 0 15px;
    }
    .mobile-search-wrapper {
        display: none;
    }
    .close-search {
        display: none;
    }
    .image-wrapper {
        .image-items {
            span:nth-child(1) {
                bottom: -50px;
                left: 10px;
            }

            span:nth-child(3) {
                bottom: -50px;
                right: 0;
            }

            span:nth-child(2) {
                top: 10px;
                right: -30%;
            }
        }

        &:hover {
            .image-items {
                span:nth-child(1) {
                    bottom: 0;
                }

                span:nth-child(3) {
                    bottom: 0;
                }

                span:nth-child(2) {
                    right: 0;
                }
            }
        }
    }
    .burger{
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .alert-wrapper{
        bottom: 10px;
    }
    .btn-right {
        text-align: right;
    }
    .icon-wrapper {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 991.98px ) {
    .alert-wrapper{
        top: 10px;
    }
    .iner_content {
        .close-search {
            right: 20px;
            display: none;
            top: 0;
            z-index: 100;
            background-color: @main_color;
        }
    }

    .image-wrapper {
        span:nth-child(1) {
            bottom: 0;
            left: 10px;
        }

        span:nth-child(3) {
            bottom: 0;
            right: 0;
        }

        span:nth-child(2) {
            top: 10px;
            right: 0;
        }
    }

    .top-content {
        position: fixed;
        bottom: 0;
        width: -webkit-fill-available;
        z-index: 100;
        height: 55px;
        .icon-wrapper{
            .icon-count span:first-child{
                top: -5px !important;
            }
            .icon {
                justify-content: center;
                width: 100%;
                right: 0 !important;
                
                a {
                    flex: 1;
                    text-align: center;
                    
                    i {
                        font-size: calc(1vw + 14px);
                    }
                }
                
                
                .mobile-search-icon{
                    position: relative;
                    left: 0;
                    i {
                       padding: 6px;
                       border-radius: 50%;
                   }
                }
                
                #close-mobile-search {
                    position: absolute;
                    transition: 0.3s;
                    top: 50%;
                    transform: translateY(-40%);
                    right: -50%;
                }
            }
            .mobile-search-wrapper {
                position: absolute;
                left: calc(3vw + 50px);
                width: 100%;
                
                .search-input {
                    width: 0;
                    position: absolute;
                    visibility: hidden;
                    transition: 0.3s;
                    z-index: 100;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .search-box {
            display: none;
        }
    }

    .mobile-search-active {
        visibility: visible !important;
        width: calc(100% - 130px) !important;
    }
    .burger{
        display: block;
    }
    .navbar-menu{
        display: none;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 767.98px) {
    .about-us-wrapper {
        text-align: center;

        .btn-right {
            text-align: center;
        }
    }

    .footer-info {
        margin-top: 20px;
    }
    .signin-container{
        width: 85%;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}